<div id="home" class="d-flex flex-column flex-md-row text-start mx-auto">
  <div class="border rounded-circle">
    <img src="" alt="SELLAK Taha" class="img-fluid rounded-circle" style="width: 64px; height: 64px;">
  </div>
  <div class="d-flex flex-column text-center md-align-items-start md-text-start">
    <div class="d-flex flex-column">
      <h2 class="h2 fw-semibold text-primary">SELLAK Taha</h2>
      <p class="fw-semibold">Développeur Full-Stack</p>
    </div>
    <div class="intro">
      <p class="text">Spécialisé dans le développement <span class="text-primary">d'applications web</span> avec des interfaces intuitives et des expériences utilisateurs fluides, en utilisant <span class="text-primary">Spring Boot</span> et <span class="text-primary">Angular</span>.</p>
    </div>
    <div class="d-flex gap-2">
      <a href="/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">EMAIL</a>
      <a href="/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary">CV</a>
    </div>
  </div>
</div>
