@media (min-width: 768px) {
  #home {
    margin: 100px 0 15% 0 !important;
    text-align: left  !important;
    .text-center {
      margin-left: 1rem !important;
      align-items: flex-start !important;
    }

    .intro {
    width: 330px  !important;
    text-align: left  !important;
            }
    }
}

#home {
  margin: 0;
  justify-content: center;
  align-items: center;

  .img-fluid{
    width: 260px !important;
    height: 260px !important;
  }
  .intro{
    width: 80%;
    text-align: center;
  }
  .text-center {
    align-items: center;
  }

  .btn-primary {
    width: 8rem;
    border-radius: var(--radius);
    border-color: hsl(var(--primary));
    background-color: hsl(var(--primary));
    padding: .5rem;
    text-align: center;
    --tw-text-opacity: 1;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition-duration: .3s;
    animation-duration: .3s;
    &:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.08);    }
  }

  .btn-outline-primary {
    width: 8rem;
    border-radius: var(--radius);
    border-color: hsl(var(--primary));
    border-width: 1px;
    color: black;
    background-color: transparent;
    padding: .5rem;
    text-align: center;
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-shadow-color: #ffb2b2;
    --tw-shadow: var(--tw-shadow-colored);
    transition-duration: .3s;
    animation-duration: .3s;

    &:hover {
      background-color: hsl(var(--primary) / .2);
    }
  }
}

body {
  font-family: 'Arial', sans-serif; // Choose a modern font
}

* {
  box-sizing: border-box;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  z-index: 9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  animation: moveUpFadeIn 0.8s ease forwards;
}

.form-container {
  max-width: 93vw;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #90c86e;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type=email],
  textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;

    &:focus {
      outline: none;
      border-color: #90c86e;
      box-shadow: 0 0 5px rgb(81, 128, 55);
    }
  }

  .btn {
    background-color: #90c86e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 1;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .cancel {
    background-color: #f44336;
  }
}
@keyframes moveUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
