<section class="experience">
<div class="title">
  <p>Mes <span class="text-primary-green">Compétences</span></p>
  <div class="line bg-primary-green"></div>
</div>

  <section class="education-container">
    <div class="timeline-container">
      <h3 class="institution-name">École numérique Ahmed Al Hansali, Beni mellal</h3>
      <time class="duration">Janvier 2024 - Octobre 2024</time>
    </div>
    <article class="content-container">
      <h2 class="course-title">Développeur Full Stack JAVA/ANGULAR</h2>
      <p class="course-description">Formation complète en développement d'applications web avec une expertise en Front-End et Back-End. Compétences en UX/UI permettant de concevoir des expériences utilisateur fluides et intuitives, adaptées aux besoins modernes des utilisateurs.</p>
    </article>
  </section>

  <section class="education-container">
    <div class="timeline-container">
      <h3 class="institution-name">École Supérieure de Technologie, Meknès</h3>
      <time class="duration">Octobre 2020 - Juin 2022</time>
    </div>
    <article class="content-container">
      <h2 class="course-title">Informatique et Gestion des Entreprises</h2>
      <p class="degree-description">Programme axé sur les compétences techniques et managériales, couvrant l'informatique de gestion, la comptabilité, et l'économie. Formation équilibrée entre le développement des systèmes d'information, l'analyse de données, et les processus de gestion pour les entreprises, renforçant les compétences en gestion de projet, programmation, et optimisation des processus organisationnels.</p>
    </article>
  </section>

  <section class="education-container">
    <div class="timeline-container">
      <h3 class="institution-name">Etablissements scolaires publics, MRIRT</h3>
    </div>
    <article class="content-container">
      <h2 class="course-title">Baccalauréat</h2>
      <p class="degree-description">Formation orientée vers les sciences de la gestion, avec des bases en comptabilité, finance, et gestion d'entreprise. Développement de compétences analytiques et compréhension des principes comptables pour l'administration et le suivi financier.</p>
    </article>
  </section>


</section>
