<div class="projects">
  <div class="title">
    <p>Mes <span class="text-primary-green">Projets</span></p>
    <div class="line bg-primary-green"></div>
  </div>
  <div class="text">
    Curieux de voir l'ensemble de mes projets personnels ? Rendez-vous sur mon GitHub !
  </div>

  <section class="projects-section">
    <div class="projects-container container">
      <div class="projects-left-column col-12 col-md-6">
        <div class="projects-content">

          <article class="project-card project-card-first">
            <div class="project-layout">
              <div class="project-image-wrapper center-image">
                <a href="https://github.com/THSK4U/SOSAuto">
                  <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/19fc7fea1ca007b35e74450813c41181758a37c1f6d50dc6ba47a836bf012e14?apiKey=a90cbfafcaf044db9230d5161f223419&" alt="SOSAuto Link" class="project-image" />
                </a>
              </div>
              <div class="project-details">
                <div class="project-info">
                  <div class="project-header">
                    <p class="titel">SOSAuto</p>
                    <a href="https://github.com/THSK4U/SOSAuto">
                      <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/21fd41216e2ce81534022dcb3d0ebd3fb11a40b3b222faef55a3790911ffeaf0?apiKey=a90cbfafcaf044db9230d5161f223419&" alt="" class="project-icon" />
                    </a>
                  </div>
                  <p class="project-subtitle">Application web full-stack pour l'assistance routière.</p>
                  <div class="tech-stack">
                    <span class="tech-badge">Angular</span>
                    <span class="tech-badge">Spring Boot</span>
                    <span class="tech-badge">MySql</span>
                    <span class="tech-badge">Jenkins</span>
                    <span class="tech-badge">Docker</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="project-card project-card-second">
            <div class="project-layout">
              <div class="project-image-wrapper center-image">
                <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/55996be82b3cddb1f44f6a2226236457342e73120723b309a38ca96129528e48?apiKey=a90cbfafcaf044db9230d5161f223419&" alt="ConstructionXpert Services project screenshot" class="project-image" />
              </div>
              <div class="project-details">
                <div class="project-info">
                  <div class="project-header">
                    <p class="titel">ConstructionXpert Services</p>
                    <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/f4a4a94c56b012b8666bf6c38d622d565b58e915774ff2cae01db1eeb5035a0b?apiKey=a90cbfafcaf044db9230d5161f223419&" alt="" class="project-icon" />
                  </div>
                  <p class="project-subtitle">Service de Gestion des Projets.</p>
                  <span class="tech-badge">Angular</span>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="projects-right-column">
        <a href="https://github.com/THSK4U">
          <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/faf30ae836af9b590f8d2c458c3ec62e2b45b8a4d31efd2f22399c707bcb2395?apiKey=a90cbfafcaf044db9230d5161f223419&" alt="Projects section illustration" class="illustration" />
        </a>
      </div>
    </div>
  </section>
</div>
