<div class="skills">
  <div class="title">
    <p>Mes <span class="text-primary-green">Compétences</span></p>
    <div class="line bg-primary-green"></div>
  </div>
  <div class="content container">

    <div class="competence border row">
      <div class="col-12">
        <div class="info">
          <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/5de14ae34941e9485c5fbbf3ff8620bd4d99e2245571240365eb3a021deb339e?apiKey=a90cbfafcaf044db9230d5161f223419&">
          <div class="titel text-primary-green">Frontend</div>
          <p class="description">Création d'interfaces utilisateur dynamiques et interactives avec Angular, en mettant l'accent sur l'expérience utilisateur et la réactivité.</p>
        </div>
      </div>
    </div>

    <div class="competence border row">
      <div class="col-12">
        <div class="info">
          <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/3e799a00bad15d244bff27fd7610f601c6ba7005c2cbc6433fdcac83c5087b8d?apiKey=a90cbfafcaf044db9230d5161f223419&">
          <div class="titel text-primary-green">Backend</div>
          <p class="description">Développement d'applications web robustes et évolutives en utilisant Java EE et Spring Boot.</p>
        </div>
      </div>
    </div>

    <div class="competence border row">
      <div class="col-12">
        <div class="info">
          <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/4aa2aa27e2420c52de3fe6bee25e014c5bf5168358d222e31cba8c63f70a1533?apiKey=a90cbfafcaf044db9230d5161f223419&">
          <div class="titel text-primary-green">Data</div>
          <p class="description">Gestion efficace des bases de données relationnelles.</p>
        </div>
      </div>
    </div>

    <div class="competence border row">
      <div class="col-12">
        <div class="info">
          <img src="https://cdn.builder.io/api/v1/image/assets/a90cbfafcaf044db9230d5161f223419/6bb2778380eb07ecbcd2a21394e67b40b06f37205b7d764fb4b228ef6f91c59e?apiKey=a90cbfafcaf044db9230d5161f223419&">
          <div class="titel text-primary-green">API</div>
          <p class="description">Conception et implémentation d'API RESTful sécurisées avec Spring Security pour une communication transparente entre le frontend et le backend.</p>
        </div>
      </div>
    </div>

  </div>
</div>
