<div class="title">
  <p>Hé, je suis <span class="text-primary-green">Développeur</span></p>
  <div class="line bg-primary-green"></div>
</div>
<div class="content">
<div class="texts">
  En tant que développeur Full Stack passionné, je crée des applications web intuitives et performantes. Mon parcours académique et mes projets m’ont permis de maîtriser Java, Angular et Spring Boot et plus. Toujours avide d’apprendre les meilleures pratiques du développement web.   
  <br>
  <br>
  En tant que développeur Full Stack passionné, concevoir des interfaces utilisateur agréables et efficaces est au cœur de mon approche du développement web. Fort de mon expérience en création d’applications web, je m’attache à allier esthétique et fonctionnalité pour une expérience utilisateur optimale. Actuellement, je suis en recherche de nouvelles techniques pour améliorer mes compétences.
  <br>
  <br>
  En tant que développeur Full Stack passionné, je suis convaincu que le travail d’équipe et le partage de connaissances sont essentiels pour créer des logiciels de qualité. Mon expérience en développement web full stack (Java, Angular, Spring Boot) me permet d’apporter une contribution significative à des projets collaboratifs.
</div>
  <div class="skills">
    <div id="holder"></div>
  </div>
</div>

