.border-b {
  border-bottom-width: 1px;
}
.border-stone-200 {
  --tw-border-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-border-opacity));
}
.p4 {
  padding: 0.8rem;
}
.page {
  height: 90vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .page {
    margin-left: 15px;
    margin-right: 15px;
    height: 100vh !important;
    display: flex;
  }
  .hero{}
  .intro{}
  .skills{
    margin-top: 50% !important;
  }
  .project{
    margin-top: 30% !important;
  }
  .exper{
    margin-top: 160% !important;
    margin-bottom: 30vh !important;
  }

}
.Footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUpFadeIn 1s ease forwards;

  .btn-ghost {
    border: none;
    background: transparent;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: rgb(145, 201, 110);
    }
  }

  .vr {
    width: 1px;
    align-self: auto;
    height: 1rem;
    background-color: rgb(145, 201, 110);
    margin: 0 0.5rem;
  }
}
@keyframes moveUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
