.border-b {
  border-bottom-width: 1px;
}
.border-stone-200 {
  --tw-border-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-border-opacity));
}
.p4 {
  padding: 0.8rem;
}
.root{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .page {
    height: 80vh;
  }
}


.Footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUpFadeIn 1s ease forwards;

  .btn-ghost {
    border: none;
    background: transparent;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: rgb(145, 201, 110);
    }
  }

  .vr {
    width: 1px;
    align-self: auto;
    height: 1rem;
    background-color: rgb(145, 201, 110);
    margin: 0 0.5rem;
  }
}
@keyframes moveUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.read-more-left {
  display: inline-flex;
  justify-content: left;
  color: #91C96E;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken(#91C96E, 10%);
  }

  &::before {
    content: '← ';
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
    transform: translateX(-5px);
  }
}

.read-more {
  display: inline-flex;
  justify-content: right;
  color: #91C96E;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken(#91C96E, 10%);
  }

  &::after {
    content: ' →';
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translateX(5px);
  }
}
